<h1>Listing Users</h1>
<table class="table table-bordered table-condensed table-striped table-hover">
  <tr>
    <th>#</th>
    <th>Email</th>
    <th>Name</th>
    <th>Birthdate</th>
    <th></th>
  </tr>
  <tbody id="admin_users">
    <%= render 'admin/users' %>
  </tbody>
</table>