<h1>Listing Videos</h1>
<table class="table table-bordered table-condensed table-striped table-hover">
  <tr>
    <th>Date</th>
    <th>Title</th>
    <th></th>
  </tr>
  <tbody id="admin_videos">
    <%= render 'admin/videos' %>
  </tbody>
</table>