<h1>Listing Videos</h1>
<table class="table table-bordered table-condensed table-striped table-hover">
  <tr>
    <th>Upload date</th>
    <th>Video title</th>
    <th>Status</th>
    <th></th>
  </tr>
  <tbody id="admin_videos">
    <%= render 'admin/videos' %>
  </tbody>
</table>