<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td>
    <%= link_to 'Edit', edit_category_path(category) %>
    <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>